@charset "utf-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
main {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  vertical-align: middle;
}
audio:not([controls]),
[hidden],
template {
  display: none;
}
* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}
*:after,
*:before {
  box-sizing: inherit;
}
::after,
::before {
  vertical-align: inherit;
  text-decoration: inherit;
}
:root {
  box-sizing: border-box;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
iframe,
img,
svg {
  vertical-align: middle;
}
iframe,
embed,
object {
  max-width: 100%;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000000;
}
code,
kbd,
pre,
samp {
  font-family: 'courier new', monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  margin: 1em 0;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
sub,
sup,
small {
  font-size: 75%;
}
sub,
sup {
  position: relative;
  vertical-align: baseline;
  line-height: 0;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset,
legend {
  border: 0;
}
legend {
  white-space: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -moz-appearance: button;
  -webkit-appearance: button;
  cursor: pointer;
}
select {
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
button,
input,
select,
textarea {
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%;
  background: none;
  border-radius: 0;
  color: inherit;
  font-style: inherit;
  font-weight: inherit;
}
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}
input[type=number] {
  width: auto;
}
button,
input {
  line-height: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  vertical-align: top;
  overflow: auto;
  resize: vertical;
  -moz-appearance: none;
  -webkit-appearance: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
progress {
  display: inline-block;
}
[unselectable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
dl,
menu {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu {
  padding: 0 0 0 40px;
}
@font-face {
  font-family: 'CamptonSemiBold';
  src: url('../fonts/Campton/Rene Bieder - Campton SemiBold.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Campton/Rene Bieder - Campton SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Campton/Rene Bieder - Campton SemiBold.woff') format('woff'), /* Modern Browsers */ url('../fonts/Campton/Rene Bieder - Campton SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Campton/Rene Bieder - Campton SemiBold.svg#07d531e49ef067e27012643fe1fb0725') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'CamptonBook';
  src: url('../fonts/Campton/Rene Bieder - Campton Book.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Campton/Rene Bieder - Campton Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Campton/Rene Bieder - Campton Book.woff') format('woff'), /* Modern Browsers */ url('../fonts/Campton/Rene Bieder - Campton Book.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Campton/Rene Bieder - Campton Book.svg#539bd9c45d8c6738cfda9bd764bef0e7') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'CamptonBookItalic';
  src: url('../fonts/Campton/Rene Bieder - Campton Book Italic.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Campton/Rene Bieder - Campton Book Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Campton/Rene Bieder - Campton Book Italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/Campton/Rene Bieder - Campton Book Italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Campton/Rene Bieder - Campton Book Italic.svg#43972483396cb8ddc137a00c31095aee') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'CamptonLight';
  src: url('../fonts/Campton/Rene Bieder - Campton Light.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Campton/Rene Bieder - Campton Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Campton/Rene Bieder - Campton Light.woff') format('woff'), /* Modern Browsers */ url('../fonts/Campton/Rene Bieder - Campton Light.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Campton/Rene Bieder - Campton Light.svg#cb0076bde307d1c9b973c30a403bd200') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'CamptonLightItalic';
  src: url('../fonts/Campton/Rene Bieder - Campton Light Italic.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Campton/Rene Bieder - Campton Light Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Campton/Rene Bieder - Campton Light Italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/Campton/Rene Bieder - Campton Light Italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Campton/Rene Bieder - Campton Light Italic.svg#fd4b1d98d6556f5e51da865b13538e56') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: 'CamptonMedium';
  src: url('../fonts/Campton/Rene Bieder - Campton Medium.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Campton/Rene Bieder - Campton Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Campton/Rene Bieder - Campton Medium.woff') format('woff'), /* Modern Browsers */ url('../fonts/Campton/Rene Bieder - Campton Medium.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Campton/Rene Bieder - Campton Medium.svg#4b795d143b94453d46748baed030e15a') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'CamptonMediumItalic';
  src: url('../fonts/Campton/Rene Bieder - Campton Medium Italic.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Campton/Rene Bieder - Campton Medium Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Campton/Rene Bieder - Campton Medium Italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/Campton/Rene Bieder - Campton Medium Italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Campton/Rene Bieder - Campton Medium Italic.svg#90153ef67054648aae573f44ca7335c5') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'CamptonThin';
  src: url('../fonts/Campton/Rene Bieder - Campton Thin.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Campton/Rene Bieder - Campton Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Campton/Rene Bieder - Campton Thin.woff') format('woff'), /* Modern Browsers */ url('../fonts/Campton/Rene Bieder - Campton Thin.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Campton/Rene Bieder - Campton Thin.svg#726004dfd21b579ad4cf6a5fb0df1ae6') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'CamptonThinItalic';
  src: url('../fonts/Campton/Rene Bieder - Campton Thin Italic.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Campton/Rene Bieder - Campton Thin Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Campton/Rene Bieder - Campton Thin Italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/Campton/Rene Bieder - Campton Thin Italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Campton/Rene Bieder - Campton Thin Italic.svg#0e15bc800a9496efaf80db8335497f8c') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: 200;
}
/******* GÉNÉRAL *******/
::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}
html {
  font-size: 62.5%;
  /* sets the base font to 10px for easier math */
}
body {
  font-size: 1.6em;
  /* sets the default sizing to make sure nothing is actually 16px */
  line-height: 1;
}
h1 {
  font-size: 3em;
  margin: .67em 0;
}
h2 {
  font-size: 2.5em;
  margin: .83em 0;
}
h3 {
  font-size: 2em;
  margin: 1em 0;
}
h4 {
  font-size: 1.7em;
  margin: 1.33em 0;
}
h5 {
  font-size: 1.3em;
  margin: 1.67em 0;
}
h6 {
  font-size: 1.1em;
  margin: 2.33em 0;
}
p {
  margin: 1em 0;
}
blockquote {
  margin: 1em 40px;
}
ol,
ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
img {
  max-width: 100%;
  height: auto;
}
/******* LIENS / BOUTONS *******/
a {
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
a:focus {
  outline: 0;
}
/******* FORMULAIRES *******/
::-webkit-input-placeholder {
  color: #8b8b8b;
}
::-moz-placeholder {
  color: #8b8b8b;
}
:-ms-input-placeholder {
  color: #8b8b8b;
}
input:focus,
textarea:focus {
  outline: 0;
}
button:focus {
  outline: 0;
}
/******* MODULES *******/
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
html,
body {
  font-family: 'CamptonBook', sans-serif;
  font-weight: normal;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  height: 100%;
}
html {
  overflow: hidden;
  position: relative;
}
body {
  background: #faf9db;
  width: 100%;
  overflow-x: hidden;
}
a.plus-link {
  position: relative;
  transition: all 0.15s;
  color: #000000;
}
a.plus-link:after {
  content: "+";
  font-size: 70px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  left: 50%;
  margin-left: -35px;
  color: #000000;
  display: block;
  width: 70px;
  height: 70px;
  line-height: 82px;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.15s;
}
a.plus-link:hover {
  color: #1e32d2;
}
a.plus-link:hover:after {
  opacity: 1;
  transform: translateY(0);
}
.container {
  display: block;
  position: relative;
  width: 1150px;
  height: auto;
  margin: 0 auto;
  padding: 400px 0 80px 0;
}
.container #bloc-illus {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 700px;
  height: 400px;
  margin: 50px 0 50px 0;
}
.container #bloc-illus #canvas-bloc-illus {
  display: block;
  width: 100%;
  height: 100%;
}
.container #bloc-illus #canvas-bloc-illus:focus {
  outline: none;
}
.container #bloc-content {
  display: block;
  position: relative;
  width: 890px;
  margin: 0 0 0 260px;
  padding: 30px 0 75px 0;
}
.container #bloc-content #name {
  color: #1e32d2;
  line-height: 1.1em;
}
.container #bloc-content .categ {
  display: block;
  position: relative;
  margin-bottom: 120px;
}
.container #bloc-content .categ:last-child {
  margin-bottom: 0;
}
.container #bloc-content .categ h4 {
  position: absolute;
  top: 0;
  left: -280px;
  text-align: right;
  display: block;
  color: #1e32d2;
  width: 240px;
  height: auto;
  margin: 0;
  padding: 15px 0 0 0;
  font-family: 'CamptonMedium', sans-serif;
  font-weight: normal;
  font-size: 0.95em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container #bloc-content .categ h3 {
  font-family: 'CamptonMedium', sans-serif;
  font-weight: normal;
  font-size: 2.25em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  width: 580px;
}
.container #bloc-content .categ strong {
  font-weight: normal;
  color: #1e32d2;
}
.container #bloc-content .categ ul#projects {
  display: block;
  position: relative;
  margin: 0 0 0 -20px;
  padding: 0;
  list-style-type: none;
}
.container #bloc-content .categ ul#projects li.project {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 445px;
  height: auto;
  border-top: 1px solid #000000;
}
.container #bloc-content .categ ul#projects li.project a.project-link {
  display: block;
  width: 100%;
  height: 63px;
  padding: 20px 0 32px 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-family: 'CamptonSemiBold', sans-serif;
  font-weight: normal;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  z-index: 2;
}
.container #bloc-content .categ ul#projects li.project .num-project {
  display: block;
  width: 30px;
  height: auto;
  position: absolute;
  color: #1e32d2;
  top: 5px;
  right: 5px;
  text-align: right;
  font-family: 'CamptonMedium', sans-serif;
  font-weight: normal;
  font-size: 0.75em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container #bloc-content .categ ul#projects li.project .project-content {
  position: relative;
  z-index: 1;
  display: block;
  padding: 0 0 0 20px;
  margin: 0 0 40px 0;
  width: 90%;
}
.container #bloc-content .categ ul#projects li.project .project-content .video-wrapper {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
.container #bloc-content .categ ul#projects li.project .project-content .video-wrapper video {
  width: 100%;
  height: auto;
}
.container #bloc-content .categ ul#projects li.project .project-content .project-desc {
  display: block;
  width: auto;
  height: auto;
  font-family: 'CamptonMedium', sans-serif;
  font-weight: normal;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3em;
  float: right;
  margin: 40px 0 0 0;
}
.container #bloc-content .categ ul#projects li.project .project-content .project-desc .project-desc-decoration {
  display: block;
  width: 50px;
  height: 5px;
  margin: 0 0 20px 0;
  background-color: #1e32d2;
}
.container #bloc-content .categ ul#projects li.project .project-content .project-desc ul.project-categ {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.container #bloc-content .categ ul#projects li.project .project-content .project-desc ul.project-categ li {
  display: block;
  width: 100%;
  height: auto;
  margin: 10px 0;
  padding: 0;
}
.container #bloc-content .categ ul#projects li.project .project-content .project-desc ul.project-categ li .categ-title {
  font-family: 'CamptonLight', sans-serif;
  font-weight: normal;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1e32d2;
}
.container #bloc-content .categ ul#projects li.project .project-content .project-desc ul.project-categ li .content-categ {
  font-family: 'CamptonBook', sans-serif;
  font-weight: normal;
  font-size: 1.3em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container #bloc-content .categ ul#projects li.project .project-content .project-desc ul.project-categ li .content-categ.project-content-categ {
  width: 250px;
}
.container #bloc-content .categ ul#social {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 10px 0 0 0;
}
.container #bloc-content .categ ul#social li {
  display: inline-block;
  vertical-align: top;
  margin: 0 50px 0 0;
  padding: 0;
}
.container #bloc-content .categ ul#social li a.social-link {
  text-decoration: none;
  font-family: 'CamptonMedium', sans-serif;
  font-weight: normal;
  font-size: 1.25em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
.container #bloc-content .categ ul#social li .social-desc {
  text-transform: uppercase;
  color: #1e32d2;
  font-family: 'CamptonMedium', sans-serif;
  font-weight: normal;
  font-size: 0.625em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 2px 0 0 0;
}
.container #bloc-content #trait {
  display: block;
  width: 1px;
  height: 100%;
  background: #000000;
  position: absolute;
  top: 0;
  left: -20px;
}
/******* HEADER *******/
/******* FOOTER *******/
/******* CLASSES GENERALES  *******/
.reset-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.hidden {
  display: none !important;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/******* RESPONSIVE *******/
/******* RETINA *******/
/******* PRINT *******/
@media print {
  * {
    color: #000 !important;
  }
  a {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  a[href^="#"]:after {
    content: '';
  }
  img {
    max-width: 100% !important;

  }
  @page {
    margin: .5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
